<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi feita para o e-mail: <b>{{email}}</b>.</p>

<p>Se você não foi o responsável por essa solicitação recomendamos que você troque a sua senha imediatamente.</p>

<p>Para finalizar o processo, utilize o token: <b>{{token}}</b> ou clique no link abaixo:</p>

<a href={{link}}>Resetar senha</a>
