Recuperando senha

Uma solicitação de recuperação de senha foi feita para o e-mail: {{email}}

Se você não foi o responsável por essa solicitação recomendamos que você troque a sua senha imediatamente

Para finalizar o processo, utilize o token: {{token}} ou clique no link abaixo:

{{link}}
